*
{
    margin: 0;
    padding: 0;
}
body 
{
    font-family: Arial, Sans-Serif;
    width: 100%;
    height: 100%;
    background: url(./img/purple.jpg);
    background-repeat: repeat; 
    background-size: 10em, 10em;
}

header
{
    display:block;
    background-color: rgba(51, 55, 82, 0.8);
    color:White;
    text-align:center;
    height: 10%;
 
}

header p
{
    color: Black;
    text-align:right;
    font-size: medium;   
}
#left_part{
    text-align: center;
    float: left;
    width: 25%;
    padding-top: 5%;
}

section
{
    padding: 15;
    margin-left: auto;
    margin-right: auto;
    background: rgba(110, 84, 171, 0.7);
    text-align: center;
    align-items: center;
    width: 50%;
    height: 80%;
    padding-top: 5%;
}
section p{
    font-size: medium;
    text-align: left;
   padding-right: 20%;
    padding-left: 35%;
}
button{
    height: 5%;
    width: 10%;
    font-size: small;
    margin-right: 20%;
    color: black;
}


#right_part{
    text-align: center;
    float: right;
    width: 25%;
    padding-top: 5%;
}
table{
    align-content: center;
    border-right: 2px solid darkgrey;
    width: 100%;
}

td{
    border-right: 2px solid darkgrey;
    border-collapse: collapse;
}

tr{
    border-right: 2px solid darkgrey;
}

fieldset{
    border-right: 2px solid darkgrey;
}

fieldset button{
    width: 10%;
    height: 5%;
}

footer
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    color:white;
    background-color:rgba(51, 55, 82, 0.8);
    text-align:center;
    height: 5%;
}
